.root {
    -fx-year-axis-tick-color: #cccccc;      /* Cor para o eixo Y (números) */
    -fx-year-category-tick-color: #e0e0e0; /* Cor para o eixo X (categorias) */
}

#exit, #config {
    -fx-effect: dropshadow(three-pass-box, #151515, 2, 0, 0, 1);
}
#exit:pressed, #config:pressed {
    -fx-translate-y: 3px;
}


.label{
    -fx-text-fill: #e6e6e6;
}

.day-label {
    -fx-font-size: 10px;

}

.year-chart-axis .tick-label {
    -fx-fill: #cccccc;
}

.chart-pie-label {
    -fx-fill: #f6f6f6; /* Substitua "red" pela cor desejada, por exemplo, "#333333" */
}


/* Estilos para o novo painel de estatísticas */
.stats-grid {
    -fx-hgap: 20; /* Espaçamento horizontal entre as colunas */
    -fx-vgap: 15; /* Espaçamento vertical entre as linhas */
}

.stats-grid .label {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16px;
    -fx-text-fill: #e0e0e0; /* Cor da fonte dos textos */
}

#previousYearLabel:pressed,
#nextYearLabel:pressed{
    -fx-translate-y: 3px;
}